.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  border-radius: 4px;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include respond-min("phone") {
    width: 480px; //450 + 15 + 15
  }
  @include respond-min("tablets") {
    width: 768px; //738 + 15 + 15
  }
  @include respond-min("pc") {
    width: 1200px; //1170 + 15 + 15
  }
}
